@model Company;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Ryan's User Reviews - Add Company</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>
    </head>
    <body class="wrapper">
        <nav class="navbar sticky-top navbar-expand-md py-0">
            <div class="container-fluid" id="wrappernav">
                <div>
                    <ul class="navbar-nav ms-auto">
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "Home", "Index", "Home", null, new { style = "text-decoration: none; color: white; text-shadow: 1.5px 2px 0 #000; "} )</li>
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "Add Company", "AddCompany", "Home", null, new {style = "text-decoration: none; color: white; text-shadow: 1.5px 2px 0 #000; "} )</li>
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "Add Review", "AddReview", "Review", null, new {style = "text-decoration: none; color: white; text-shadow: 1.5px 2px 0 #000; "} )</li>
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "All Reviews", "AllReviews", "Review", null, new {style = "text-decoration: none; color: white; text-shadow: 1.5px 2px 0 #000; "} )</li>
                    </ul>
                </div>
                <div>
                    <p class="h3 nav-item p-1 px-3 cool-font">RH</p>
                </div>
            </div>
        </nav>
        <section class="p-2">
            <div class="container">
                <div class="grid">
                    <!--  Model.Name != " " below is due to bypassing field validation errors when view is first loaded, onfocus within input tags remove the defaulted whitespace when user interacts with the input text box -->
                    @if (ViewData.ModelState.IsValid && Model.Name != " ") {
                        <div class="row mt-2 justify-content-center">
                            <div class="col-lg-10">
                                <div class="card my-2 bg-color">
                                    <div class="card-body card-border" id="wrappercard">
                                        <p class="h1 card-title fw-bold text-center text-white shadow-title"> Success! @Model.Name has been added to the site!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }                        
                                        
                                    
                    <div class="row mt-2 justify-content-center">
                        <div class="col-lg-10">
                            <div class="card my-2 bg-color">
                                <div class="card-body card-border" id="wrappercard">
                                    <p class="h1 card-title fw-bold text-center text-white shadow-title">Add a Company for reviews below!</p>
                                    <!-- Server-side Dynamic Page using GET, form with 5 elements; Uses Razor built in tags within form -->
                                    <form asp-action="AddCompany" asp-controller="Home" method="get" class="m-2">
                                        <div asp-validation-summary="All"></div>
                                        <div class="form-group p-3">
                                            <label asp-for="Name" class="form-label h5 fw-bold text-white shadow-title">Company Name:</label>
                                            <input asp-for="Name" class="form-control" onfocus="this.value=''"/>
                                        </div>
                                        <div class="form-group p-3">
                                            <label asp-for="Address" class="form-label h5 fw-bold text-white shadow-title">Company Address:</label>
                                            <input asp-for="Address" class="form-control" onfocus=" this.value=''"/>
                                        </div>
                                        <div class="form-group p-3">
                                            <label asp-for="OpenTime" class="form-label h5 fw-bold text-white shadow-title">Company Open Time:</label>
                                            <input asp-for="OpenTime" class="form-control" onfocus="this.value=''"/>
                                        </div>      
                                        <div class="form-group p-3">
                                            <label asp-for="CloseTime" class="form-label h5 fw-bold text-white shadow-title">Company Close Time:</label>
                                            <input asp-for="CloseTime" class="form-control" onfocus="this.value=''"/>
                                        </div>    
                                        <div class="form-group p-3">
                                            <label asp-for="DaysOpen" class="form-label h5 fw-bold text-white shadow-title">Days Open:</label>
                                            <input asp-for="DaysOpen" class="form-control" onfocus="this.value=''"/>
                                        </div>                                      
                                        <div class="text-center button-center">
                                            <button type="submit" class="button-color btn text-white fw-bold m-1">Add Company</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>