@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Ryan's User Reviews</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>
    </head>
    <body class="wrapper">
        <nav class="navbar sticky-top navbar-expand-md py-0">
            <div class="container-fluid" id="wrappernav">
                <div>
                    <ul class="navbar-nav ms-auto">
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "Home", "Index", "Home", null, new { style = "text-decoration: none; color: white; text-shadow: 1.5px 2px 0 #000; "} )</li>
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "Add Company", "AddCompany", "Home", null, new {style = "text-decoration: none; color: white; text-shadow: 1.5px 2px 0 #000; "} )</li>
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "Add Review", "AddReview", "Review", null, new {style = "text-decoration: none; color: white; text-shadow: 1.5px 2px 0 #000; "} )</li>
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "All Reviews", "AllReviews", "Review", null, new {style = "text-decoration: none; color: white; text-shadow: 1.5px 2px 0 #000; "} )</li>
                    </ul>
                </div>
                <div>
                    <p class="h3 nav-item p-1 px-3 cool-font">RH</p>
                </div>
            </div>
        </nav>
        <section class="p-2">
            <div class="container">
                <div class="grid">
                    <div class="row mt-2 justify-content-center">
                        <div class="col-lg-10">
                            <div class="card my-2 bg-color">
                                <div class="card-body card-border" id="wrappercard">
                                    <p class="h1 card-title fw-bold text-center text-white shadow-title">Super Cool</p>
                                    <p class="h2 card-title fw-bold text-center text-white shadow-title">User Review Site</p>
                                    <p class="h4 fst-italic text-center text-white">MADE BY: <span class="h1 cool-font">Ryan Hanson</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 justify-content-center">
                        <div class="col-md-5">
                            <div class="card my-2 bg-color">
                                <div class="card-body card-border" id="wrappercard">
                                    <p class="h4 card-title fw-bold text-white text-center shadow-title">Add Company</p>
                                    <p class="text-center text-white">Add a company to this site for reviews!</p>
                                    <div class="button-center">
                                        <button class="button-color btn text-white fw-bold m-1" onclick="location.href='@Url.Action("AddCompany", "Home")' ">
                                            Click Here
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card my-2 bg-color">
                                <div class="card-body card-border" id="wrappercard">
                                    <p class="h4 card-title fw-bold text-white text-center shadow-title">Add Review</p>
                                    <p class="text-center text-white">Add a review for a company!</p>
                                    <div class="button-center">
                                        <button class="button-color btn text-white fw-bold m-1" onclick="location.href='@Url.Action("AddReview", "Review")' ">
                                            Click Here
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 justify-content-center">
                        <div class="col-md-8">
                            <div class="card my-2 bg-color">
                                <div class="card-body card-border" id="wrappercard">
                                    <p class="h4 card-title fw-bold text-white text-center shadow-title">View All Reviews</p>
                                    <p class="text-center text-white">View all the reviews submitted on this site!</p>
                                    <div class="button-center">
                                        <button class="button-color btn text-white fw-bold m-1" onclick="location.href='@Url.Action("AllReviews", "Review")' ">
                                            Click Here
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>