@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>CS366 Homework 4</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/site.css" />
    </head>
    <body class="bg-dark">
        <nav class="navbar sticky-top navbar-expand-md py-0">
            <div class="container-fluid" id="wrapper">
                <div>
                    <ul class="navbar-nav ms-auto">
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "Homework 4", "Index", "Home", null, new { style = "text-decoration: none; color: red; text-shadow: -1px 1px 0 #000; "} )</li>
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "RGB Color", "RGBColor", "Home", null, new {style = "text-decoration: none; color: red; text-shadow: -1px 1px 0 #000; "} )</li>
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "Color Interpolator", "Create", "ColorInterpolator", null, new {style = "text-decoration: none; color: red; text-shadow: -1px 1px 0 #000; "} )</li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="p-2">
            <div class="container">
                <div class="grid">
                    <div class="row mt-2 justify-content-center">
                        <div class="col-lg-10">
                            <div class="card my-2 bg-secondary">
                                <div class="card-body">
                                    <p class="h1 card-title fw-bold text-center text-white shadow-title">CS 366 HomeWork 4 </p>
                                    <p class="h4 fst-italic text-center text-white">MADE BY: <span class="h1 cool-font">Ryan Hanson</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 justify-content-center">
                        <div class="col-md-5">
                            <div class="card my-2 bg-secondary">
                                <div class="card-body">
                                    <p class="h4 card-title fw-bold text-white text-center shadow-title">RGB Color</p>
                                    <p class="text-center text-white">Want to know what a particular RGB color looks like? How about it's web color format? Here you go. Uses query strings to send form data to the server, which reads them in the Request object. It then performs the calculation and formats the result in a view to return to you.</p>
                                    <button class="bg-danger text-white border-0" onclick="location.href='@Url.Action("RGBColor", "Home")' ">
                                        Try it out >>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card my-2 bg-secondary">
                                <div class="card-body">
                                    <p class="h4 card-title fw-bold text-white text-center shadow-title">Color Interpolation</p>
                                    <p class="text-center text-white">Typical online color choosers are way too useful. We wanted something fun and completely useless. This form POST's the data to the server and uses parameter binding to make it easy.</p>
                                    <button class="bg-danger text-white border-0" onclick="location.href='@Url.Action("Create", "ColorInterpolator")' ">
                                        Check it out >>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>