@model IEnumerable<HW3Project.Models.StudentResponse>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Schedule</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="text-center p-2 m-2">
            <h2 class="text-center bg-danger text-white p-2">Assignments</h2>
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr><th>Class Name</th><th>Assignment Name</th><th>Day to Work On</th><th>Due Date</th></tr>
                </thead>
                <tbody>
                    @foreach (HW3Project.Models.StudentResponse r in Model!){
                        <tr>
                            <td>@r.ClassName</td>
                            <td>@r.AssignmentName</td>
                            <td>@r.Day</td>
                            <td>@r.DueDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-center p-2 m-2">
            <h2 class="text-center p-2">Total Assignments: @HW3Project.Models.StudentResponse.responseCount</h2>
        </div>
        <div class="text-center p-2 m-2">
            <h2 class="text-center bg-danger text-white p-2">Schedule</h2>
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr><th>Week Day</th><th>Assignments</th></tr>
                </thead>
                <tbody>
                        <tr>
                            <td>Sun</td>
                            <td>
                                <ul>
                            @foreach (HW3Project.Models.StudentResponse r in Model!) {
                                 if(r.Day == "Sun") {
                                        <li>@r.FormatNames()</li>
                                }
                            }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Mon</td>
                            <td>
                                <ul>
                            @foreach (HW3Project.Models.StudentResponse r in Model!) {
                                 if(r.Day == "Mon") {
                                        <li>@r.FormatNames()</li>
                                }
                            }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Tues</td>
                            <td>
                                <ul>
                            @foreach (HW3Project.Models.StudentResponse r in Model!) {
                                 if(r.Day == "Tues") {
                                        <li>@r.FormatNames()</li>
                                }
                            }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Weds</td>
                            <td>
                                <ul>
                            @foreach (HW3Project.Models.StudentResponse r in Model!) {
                                 if(r.Day == "Weds") {
                                        <li>@r.FormatNames()</li>
                                }
                            }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Thurs</td>
                            <td>
                                <ul>
                            @foreach (HW3Project.Models.StudentResponse r in Model!) {
                                 if(r.Day == "Thurs") {
                                        <li>@r.FormatNames()</li>
                                }
                            }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Fri</td>
                            <td>
                                <ul>
                            @foreach (HW3Project.Models.StudentResponse r in Model!) {
                                 if(r.Day == "Fri") {
                                        <li>@r.FormatNames()</li>
                                }
                            }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Sat</td>
                            <td>
                                <ul>
                            @foreach (HW3Project.Models.StudentResponse r in Model!) {
                                 if(r.Day == "Sat") {
                                        <li>@r.FormatNames()</li>
                                }
                            }
                                </ul>
                            </td>
                        </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="text-center p-2">
            <h3>Click <a asp-action="Index">here</a> to add more assignments.</h3>
        </div>
    </body>
</html>